[submodule "gradient_based_navigation"]
	path = gradient_based_navigation
	url = https://github.com/Imperoli/gradient_based_navigation
[submodule "ira_laser_tools"]
	path = ira_laser_tools
	url = https://github.com/iralabdisco/ira_laser_tools
