<launch>
  <node pkg="joy" name="joy" type="joy_node" output="screen">
    <param name="autorepeat_rate" type="double" value="10"/>
  </node>
  
  <node pkg="teleop_twist_joy" name="joy_twist" type="teleop_node" output="screen">
      <param name="enable_button" type="int" value="0"/>
      <param name="enable_turbo_button" type="int" value="1"/>
      <param name="axis_linear" type="int" value="1"/>
      <param name="axis_angular" type="int" value="0"/>
      <param name="scale_linear" type="double" value="0.5"/>
      <param name="scale_linear_turbo" type="double" value="0.5"/>
      <param name="scale_angular" type="double" value="0.5"/>
      <remap from="cmd_vel" to="joy_raw_vel"/>
  </node>

  <!-- <node name="cmd_vel_filer" pkg="nav2d_operator" type="operator" >
    <param name="robot_frame" value="base_link"/>
    <param name="odometry_frame" value="map"/>
		<remap from="scan" to="scan_fusion"/>
		<rosparam file="$(find sofa2)/config/nav2d_operator_config/operator.yaml"/>
		<rosparam file="$(find sofa2)/config/nav2d_operator_config/costmap.yaml" ns="local_map" />
	</node> -->

  <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
    <remap from="joy_vel" to="joy_final_vel"/>
    <remap from="cmd_vel_out" to="drive_vel"/>
    <rosparam file="$(find sofa2)/config/twist_mux_config/twist_mux_locks.yaml"  command="load"/>
    <rosparam file="$(find sofa2)/config/twist_mux_config/twist_mux_topics.yaml" command="load"/>
  </node>

  <!-- <node pkg="acc_lim_vel_filter" name="acc_lim_vel_filter" type="acc_lim_vel_filter" output="screen">
      <remap from="vel_in" to="mux_vel"/>
      <remap from="vel_out" to="drive_vel"/>
      <param name="acc_lin_lim" type="double" value="0.3"/>
      <param name="dec_lin_lim" type="double" value="0.4"/>
      <param name="acc_ang_lim" type="double" value="0.5"/>
      <param name="dec_ang_lim" type="double" value="0.9"/>
  </node> -->

  <node pkg="mode_controller" name="mode_controller" type="mode_controller" output="screen">
      <remap from="move_base_status" to="move_base/status"/>
      <remap from="move_base_cancel" to="move_base/cancel"/>
      <remap from="follow_me_enable" to="follow_me/enable"/>
      <remap from="follow_me_status" to="follow_me/status"/>
  </node>

</launch>