<launch>
    <arg name="map_address" default="$(find sofa2)/map/fibo-6.yaml" />
    <arg name="costmap_address" default="$(find sofa2)/map/fibo-6.yaml"/>
  
    <!-- <arg name="map_address" default="$(find sofa2)/map/lx_landscape.yaml" />
    <arg name="costmap_address" default="$(find sofa2)/map/lx_landscape_cost.yaml"/> -->

    <!-- <arg name="map_address" default="$(find sofa2)/map/depa_7fl_2.yaml" />
    <arg name="costmap_address" default="$(find sofa2)/map/depa_7fl_2_costmap.yaml"/> -->
  
    <!-- <arg name="map_address" default="$(find sofa2)/map/depa_2fl.yaml" />
    <arg name="costmap_address" default="$(find sofa2)/map/depa_2fl_costmap.yaml"/> -->

    <!-- <arg name="map_address" default="$(find sofa2)/map/depa_7fl.yaml" />
    <arg name="costmap_address" default="$(find sofa2)/map/depa_7fl_costmap.yaml"/> -->

    <!-- <arg name="map_address" default="$(find sofa2)/map/pgh_8fl.yaml" />
    <arg name="costmap_address" default="$(find sofa2)/map/pgh_8fl.yaml"/> -->

    <group>
        <remap from="map" to="map_amcl" />
        <remap from="map_metadata" to="map_metadata_amcl" />
        <node pkg="map_server" type="map_server" name="map_amcl" args="$(arg map_address)" />

        <node pkg="amcl" type="amcl" name="sofa2_amcl">
            <remap from="scan" to="scan_fusion"/>
            <param name="use_map_topic" type="bool" value="true"/>
            <param name="update_min_d" type="double" value="0.05" />
            <param name="update_min_a" type="double" value="0.05" />
            <param name="resample_interval" type="int" value="1" />
            <param name="laser_max_beams" type="int" value="100" />

            <!-- <param name="initial_pose_x" type="double" value="3.6" />
            <param name="initial_pose_y" type="double" value="1.7" />
            <param name="initial_pose_a" type="double" value="1.19" /> -->
            
            <param name="initial_pose_x" type="double" value="6.6" />
            <param name="initial_pose_y" type="double" value="12.4" />
            <param name="initial_pose_a" type="double" value="1.57" />
            <param name="odom_model_type" type="string" value="diff-corrected"/>
            <param name="odom_alpha1" type="double" value="0.1"/>
            <param name="odom_alpha2" type="double" value="0.1"/>
            <param name="odom_alpha3" type="double" value="0.1"/>
            <param name="odom_alpha4" type="double" value="0.1"/>
        </node>
    </group>

    <node pkg="map_server" type="map_server" name="map_global" args="$(arg costmap_address)">
        <remap from="map" to="map_global" />
        <remap from="map_metadata" to="map_metadata_global" />
    </node>
    
    <node pkg="map_server" type="map_server" name="map_local" args="$(arg costmap_address)">
        <remap from="map" to="map_local" />
        <remap from="map_metadata" to="map_metadata_local" />
    </node>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <remap from="cmd_vel" to="nav_vel" />
        <param name="base_global_planner" value="navfn/NavfnROS" />
        <!-- <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /> -->
        <param name="base_local_planner" value="eband_local_planner/EBandPlannerROS" />
        <param name="planner_patience" type="double" value="2.0" />
        <param name="conservative_reset_dist" type="double" value="30"/>
        <param name="controller_frequency" type="double" value="10"/>
        <param name="recovery_behavior_enabled" type="bool" value="false"/>

        <rosparam file="$(find sofa2)/config/move_base_config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find sofa2)/config/move_base_config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <!-- <rosparam file="$(find sofa2)/config/move_base_config/teb_local_planner_params.yaml" command="load" /> -->
        <rosparam file="$(find sofa2)/config/move_base_config/eband_local_planner_params.yaml" command="load" />
        <rosparam file="$(find sofa2)/config/move_base_config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find sofa2)/config/move_base_config/global_costmap_params.yaml" command="load" /> 
    </node>
</launch>
