<?xml version="1.0"?>
<launch>
    <arg name="ip_addr" default="192.168.19.23" />
    <arg name="port" default="9002" /> 
    <node pkg="dynamixel_tcp" type="dynamixel_adapter" name="dynamixel_adapter" output="screen">
        <param name="ip_addr" type="str" value="$(arg ip_addr)"/>
        <param name="port" type="int" value="$(arg port)"/>

        <rosparam param="id">[0, 1, 2]</rosparam>
        <rosparam param="cw_lim">[600, 1400, 1950]</rosparam>
        <rosparam param="ccw_lim">[1400, 2700, 2022]</rosparam>
        <rosparam param="kp">[10, 10, 20]</rosparam>
        <rosparam param="ki">[2, 0, 10]</rosparam>
        <rosparam param="kd">[1, 8, 5]</rosparam>

    </node>

    <node pkg="dynamixel_tcp" type="dynamixel_operator" name="dynamixel_operator" output="screen">
        <!--MUST Declare goal operator before sequence operator-->
        <rosparam param="operator_names">
            ["head_home", "camera_home", "yes", "no", "head_left", "head_right", "head_up", "head_down", "camera_up", "camera_down", "sing"]
        </rosparam>
        <rosparam param="operator_types">
            ["goal", "goal", "single", "single", "goal", "goal", "goal", "goal", "goal", "goal", "sequence"]
        </rosparam>
        <rosparam param="head_home">
            {id: ["1", "2"], goal: [2050, 1940], moving_speed:[100, 10], timeout: 1000}
        </rosparam>
        <rosparam param="camera_home">
            {id: ["0"], goal: [654], moving_speed:[30], timeout: 1000}
        </rosparam>
        <rosparam param="yes">
            {id: "2", cw_lim_value: 1950, ccw_lim_value: 2020, sleep_time_millis: 500, moving_speed: 20}
        </rosparam>
        <rosparam param="no">
            {id: "1", cw_lim_value: 1400, ccw_lim_value: 2700, sleep_time_millis: 1500, moving_speed: 200}
        </rosparam>
        <rosparam param="head_left">
            {id: ["1"], goal: [2700], moving_speed:[100], timeout: 1000}
        </rosparam>
        <rosparam param="head_right">
            {id: ["1"], goal: [1400], moving_speed:[100], timeout: 1000}
        </rosparam>
        <rosparam param="head_up">
            {id: ["2"], goal: [1950], moving_speed:[100, 10], timeout: 1000}
        </rosparam>
        <rosparam param="head_down">
            {id: ["2"], goal: [2020], moving_speed:[100, 10], timeout: 1000}
        </rosparam>
        <rosparam param="camera_up">
            {id: ["0"], goal: [600], moving_speed:[100, 10], timeout: 1000}
        </rosparam>
        <rosparam param="camera_down">
            {id: ["0"], goal: [1400], moving_speed:[100, 10], timeout: 1000}
        </rosparam>
        <rosparam param="sing">
            {
                pattern: ["head_up", "head_down", "head_left", "head_home", "head_left", "head_right",
                        "head_down", "head_up", "head_down", "head_left", "head_home", "head_right", "head_home"]
            }
        </rosparam>
    </node>
    <node pkg="dynamixel_tcp" type="dynamixel_twist_joy" name="dynamixel_twist_joy" output="screen"/>
</launch>
