<launch>
  <node pkg="joy" name="joy" type="joy_node" output="screen">
  </node>
  
  <node pkg="teleop_twist_joy" name="joy_twist" type="teleop_node" output="screen">
      <remap from="cmd_vel" to="manual_vel"/>
  </node>

  <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
    <remap from="cmd_vel_out" to="twisted_vel"/>
    <rosparam file="$(find sofa2)/config/twist_mux_config/twist_mux_locks.yaml"  command="load"/>
    <rosparam file="$(find sofa2)/config/twist_mux_config/twist_mux_topics.yaml" command="load"/>
  </node>

  <node pkg="acc_lim_vel_filter" name="acc_lim_vel_filter" type="acc_lim_vel_filter" output="screen">
      <remap from="move_base_status" to="move_base/status"/>
      <remap from="move_base_goal" to="move_base/goal"/>
      <remap from="vel_out" to="drive_vel"/>
  </node>
<!-- 
  <node pkg="costmap_based_vel_filter" name="costmap_based_vel_filter" type="costmap_based_vel_filter" output="screen">
      <remap from="move_base_status" to="move_base/status"/>
      <remap from="costmap" to=""/>
      <remap from="vel_in" to="acc_lim_vel"/>
      <remap from="vel_out" to="drive_vel"/>
  </node> -->

</launch>