<?xml version="1.0"?>
<!--
    PLC Components:
        - plc_modbus_node
        - system_checker
-->
<launch>
    <!--Available plc_type: ROCKWELL, MITSUBISHI-->
    <arg name="_prefix" value="$(env COMPONENT_IP_PREFIX)"/>
    <arg name="_plc" value="$(env PLC_TYPE)"/>
    <node pkg="plc_modbus_node" type="ros_plc_modbus" name="plc_modbus_node" output="screen">
        <param name="ip" type="string" value="$(eval arg('_prefix') + '.22')"/>
        <param name="plc_type" type="string" value="$(arg _plc)"/>
    </node>


    <node pkg="system_checker" type="system_checker" name="system_checker" output="screen">
        <remap from="move_base_status" to="move_base/status"/>
        <remap from="scan_1" to="/front_lidar/scan" />
        <remap from="scan_2" to="/rear_lidar/scan" />
    </node>
</launch>
