<?xml version="1.0"?>
<launch>
    <arg name="_prefix" value="$(env COMPONENT_IP_PREFIX)"/>
    <arg name="port" default="9002" />
    
    <arg name="pos_0_cw" value="$(env DYNAMIXEL_ID0_POS_CW)" />
    <arg name="pos_0_mid" value="$(env DYNAMIXEL_ID0_POS_MID)" />
    <arg name="pos_0_ccw" value="$(env DYNAMIXEL_ID0_POS_CCW)" />

    <arg name="pos_1_cw" value="$(env DYNAMIXEL_ID1_POS_CW)" />
    <arg name="pos_1_mid" value="$(env DYNAMIXEL_ID1_POS_MID)" />
    <arg name="pos_1_ccw" value="$(env DYNAMIXEL_ID1_POS_CCW)" />

    <arg name="pos_2_cw" value="$(env DYNAMIXEL_ID2_POS_CW)" />
    <arg name="pos_2_mid" value="$(env DYNAMIXEL_ID2_POS_MID)" />
    <arg name="pos_2_ccw" value="$(env DYNAMIXEL_ID2_POS_CCW)" />

    <node pkg="dynamixel_tcp" type="dynamixel_adapter" name="dynamixel_adapter" output="screen">
        <param name="ip_addr" value="$(eval arg('_prefix') + '.23')"/>
        <param name="port" type="int" value="$(arg port)"/>

        <rosparam param="id">[0, 1, 2]</rosparam>
        <rosparam param="cw_lim" subst_value="true">[$(arg pos_0_cw), $(arg pos_1_cw), $(arg pos_2_cw)]</rosparam>
        <rosparam param="ccw_lim" subst_value="true">[$(arg pos_0_ccw), $(arg pos_1_ccw), $(arg pos_2_ccw)]</rosparam>
        <rosparam param="kp">[10, 10, 20]</rosparam>
        <rosparam param="ki">[2, 0, 10]</rosparam>
        <rosparam param="kd">[1, 8, 5]</rosparam>

    </node>

    <node pkg="dynamixel_tcp" type="dynamixel_operator" name="dynamixel_operator" output="screen">
        <!--MUST Declare goal operator before sequence operator-->
        <rosparam param="operator_names">
            ["head_home", "camera_home", "yes", "no", "head_left", "head_right", "head_up", "head_down", "camera_up", "camera_down", "sing"]
        </rosparam>
        <rosparam param="operator_types">
            ["goal", "goal", "single", "single", "goal", "goal", "goal", "goal", "goal", "goal", "sequence"]
        </rosparam>
        <rosparam param="head_home" subst_value="true">
            {id: ["1", "2"], goal: [$(arg pos_1_mid), $(arg pos_2_mid)], moving_speed:[100, 10], timeout: 1000}
        </rosparam>
        <rosparam param="camera_home" subst_value="true">
            {id: ["0"], goal: [$(arg pos_0_mid)], moving_speed:[30], timeout: 1000}
        </rosparam>
        <rosparam param="yes" subst_value="true">
            {id: "2", cw_lim_value: $(arg pos_2_cw), ccw_lim_value: $(arg pos_2_ccw), sleep_time_millis: 500, moving_speed: 20}
        </rosparam>
        <rosparam param="no" subst_value="true">
            {id: "1", cw_lim_value: $(arg pos_1_cw), ccw_lim_value: $(arg pos_1_ccw), sleep_time_millis: 1500, moving_speed: 200}
        </rosparam>
        <rosparam param="head_left" subst_value="true">
            {id: ["1"], goal: [$(arg pos_1_ccw)], moving_speed:[100], timeout: 1000}
        </rosparam>
        <rosparam param="head_right" subst_value="true">
            {id: ["1"], goal: [$(arg pos_1_cw)], moving_speed:[100], timeout: 1000}
        </rosparam>
        <rosparam param="head_up" subst_value="true">
            {id: ["2"], goal: [$(arg pos_2_cw)], moving_speed:[100, 10], timeout: 1000}
        </rosparam>
        <rosparam param="head_down" subst_value="true">
            {id: ["2"], goal: [$(arg pos_2_ccw)], moving_speed:[100, 10], timeout: 1000}
        </rosparam>
        <rosparam param="camera_up" subst_value="true">
            {id: ["0"], goal: [$(arg pos_0_cw)], moving_speed:[100, 10], timeout: 1000}
        </rosparam>
        <rosparam param="camera_down" subst_value="true">
            {id: ["0"], goal: [$(arg pos_0_ccw)], moving_speed:[100, 10], timeout: 1000}
        </rosparam>
        <rosparam param="sing">
            {
                pattern: ["head_up", "head_down", "head_left", "head_home", "head_left", "head_right",
                        "head_down", "head_up", "head_down", "head_left", "head_home", "head_right", "head_home"]
            }
        </rosparam>
    </node>
    <node pkg="dynamixel_tcp" type="dynamixel_twist_joy" name="dynamixel_twist_joy" output="screen">
        <param name="pos_0_cw" type="int" value="$(arg pos_0_cw)"/>
        <param name="pos_0_mid" type="int" value="$(arg pos_0_mid)"/>
        <param name="pos_0_ccw" type="int" value="$(arg pos_0_ccw)"/>
        <param name="pos_1_cw" type="int" value="$(arg pos_1_cw)"/>
        <param name="pos_1_mid" type="int" value="$(arg pos_1_mid)"/>
        <param name="pos_1_ccw" type="int" value="$(arg pos_1_ccw)"/>
        <param name="pos_2_cw" type="int" value="$(arg pos_2_cw)"/>
        <param name="pos_2_mid" type="int" value="$(arg pos_2_mid)"/>
        <param name="pos_2_ccw" type="int" value="$(arg pos_2_ccw)"/>
    </node>
</launch>
