<launch>
    <node pkg="joy" name="joy" type="joy_node" output="screen">
        <param name="autorepeat_rate" value="20"/>
    </node>
    
    <node pkg="teleop_twist_joy" name="joy_twist" type="teleop_node" output="screen">
        <remap from="cmd_vel" to="vel_in"/>
    </node>

    <node pkg="acc_lim_vel_filter" name="acc_lim_vel_filter" type="acc_lim_vel_filter" output="screen">
        <remap from="move_base_status" to="move_base/status"/>
        <remap from="move_base_goal" to="move_base/goal"/>
        <remap from="vel_out" to="cmd_vel"/>
    </node>
</launch>