<launch>
    <!--
        Bringup Components:
            - Front Lidar, Rear Lidar, Merge Lidar
            - Driver
            - tf
            - Realsense Camera
    -->
    <include file="$(find sofa2)/launch/components/sofa_bringup.launch"/>
    
    <!--
        Teleop Components:
            - Joy
            - Twist Joy
            - Twist Mux
            - Mode Controller
            - Topic Tools for Nav2d **Probably change to navigation_experimental/assist_teleop
    -->
    <include file="$(find sofa2)/launch/components/sofa_teleop.launch"/>
    
    <!--
        Navigation Components:
            - AMCL
            - Map Server(Costmap + AMCL Map)
            - move_base
    -->
    <include file="$(find sofa2)/launch/components/sofa_navigation.launch"/>
    
    <!--
        PLC Components:
            - plc_modbus_node
            - system_checker
    -->
    <include file="$(find sofa2)/launch/components/sofa_plc.launch"/>
    
    <!--
        Dynamixel TCP Components:
            - Dynamixel Adapter
            - Dynamixel Operator
            - Dynamxiel Twist Joy
    -->
    <include file="$(find sofa2)/launch/components/sofa_dynamixel_tcp.launch"/>
    
    <!--
        High Level Components:
            - Rosbridge Websocket
            - Web Video Server
    -->
    <include file="$(find sofa2)/launch/components/sofa_high_level.launch"/>
</launch>